In [1]:
pip install pypyodbc

Collecting pypyodbcNote: you may need to restart the kernel to use updated packages.
  Downloading pypyodbc-1.3.6.tar.gz (24 kB)
Requirement already satisfied: setuptools in c:\users\12408\anaconda3\lib\site-packages (from pypyodbc) (52.0.0.post20210125)
Building wheels for collected packages: pypyodbc
  Building wheel for pypyodbc (setup.py): started
  Building wheel for pypyodbc (setup.py): finished with status 'done'
  Created wheel for pypyodbc: filename=pypyodbc-1.3.6-py3-none-any.whl size=22868 sha256=6088ace79518d22c897c4493a0c1f46628c4d8452371ec9bf09255a2a500cd3f
  Stored in directory: c:\users\12408\appdata\local\pip\cache\wheels\7c\46\fe\0b509468ee0e46c039f07ee6fafe49c26f87b24f434f5462e9
Successfully built pypyodbc
Installing collected packages: pypyodbc
Successfully installed pypyodbc-1.3.6

In [9]:
import pypyodbc as odbc 
import pandas as pd

In [10]:
DRIVER_NAME = 'SQL SERVER'
SERVER_NAME = 'DESKTOP-CTUU9K5\SQLEXPRESS'
DATABASE_NAME = 'AdventureWorks2019'

In [11]:
#uid=<username>;
#pwd=<password>;
connection_string = f"""
    DRIVER={{{DRIVER_NAME}}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trust_Connection=yes;
"""

In [12]:
conn = odbc.connect(connection_string)
print(conn)

<pypyodbc.Connection object at 0x0000025337A937F0>

In [13]:
filepath = r"C:\Users\12408\Documents\SQL Server Management Studio\multildata.xlsx"

writer=pd.ExcelWriter(filepath, engine='xlsxwriter')
#writer=pd.csvWriter(filepath, engine='csvwriter')

In [6]:
df=pd.read_sql("select * from Person.person where Middlename='A'", conn)
print(df)

      businessentityid persontype  namestyle title firstname middlename  \
0                    5         EM      False   Ms.      Gail          A
1                    7         EM      False  None     Dylan          A
2                   19         EM      False  None      Mary          A
3                   24         EM      False   Ms.      Jill          A
4                   27         EM      False  None        Jo          A
...                ...        ...        ...   ...       ...        ...
1314             20726         IN      False  None    Morgan          A
1315             20737         IN      False  None   Crystal          A
1316             20742         IN      False  None    Morgan          A
1317             20751         IN      False  None   Crystal          A
1318             20764         IN      False  None   Crystal          A

       lastname suffix  emailpromotion additionalcontactinfo  \
0      Erickson   None               0                  None
1        Miller   None               2                  None
2       Dempsey   None               1                  None
3      Williams   None               0                  None
4         Brown   None               0                  None
...         ...    ...             ...                   ...
1314     Powell   None               0                  None
1315      Zhang   None               0                  None
1316  Alexander   None               2                  None
1317       Yang   None               0                  None
1318         Lu   None               1                  None

                                           demographics  \
0     <IndividualSurvey xmlns="http://schemas.micros...
1     <IndividualSurvey xmlns="http://schemas.micros...
2     <IndividualSurvey xmlns="http://schemas.micros...
3     <IndividualSurvey xmlns="http://schemas.micros...
4     <IndividualSurvey xmlns="http://schemas.micros...
...                                                 ...
1314  <IndividualSurvey xmlns="http://schemas.micros...
1315  <IndividualSurvey xmlns="http://schemas.micros...
1316  <IndividualSurvey xmlns="http://schemas.micros...
1317  <IndividualSurvey xmlns="http://schemas.micros...
1318  <IndividualSurvey xmlns="http://schemas.micros...

                                      rowguid modifieddate
0     b'F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF'   2007-12-30
1     b'C45E8AB8-01BE-4B76-B215-820C8368181A'   2009-02-01
2     b'36F04305-6769-4E61-9143-048B2B7AFA20'   2011-02-07
3     b'3F605060-96AD-4201-9BE2-BFE7A3C4E468'   2009-01-11
4     b'EDD8ADD6-F7FD-4086-BFDC-B4FD3E6AD8D7'   2008-02-20
...                                       ...          ...
1314  b'731948C4-F40B-49BB-B07F-BFE0A48A8052'   2012-12-12
1315  b'CBD497C2-0C8E-4802-8414-E0C3715CB469'   2014-03-04
1316  b'3A66D865-359E-43F3-B6A2-178E0DBF8908'   2014-03-08
1317  b'5DD45523-9CB6-49B8-9FB4-80D454711B45'   2013-02-06
1318  b'96C71454-F8B7-4FBE-A4A7-E1BC9C59B21C'   2013-03-01

[1319 rows x 13 columns]

In [14]:
df.head()

,businessentityid,persontype,namestyle,title,firstname,middlename,lastname,suffix,emailpromotion,additionalcontactinfo,demographics,rowguid,modifieddate
0,5,EM,False,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",b'F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF',2007-12-30
1,7,EM,False,None,Dylan,A,Miller,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",b'C45E8AB8-01BE-4B76-B215-820C8368181A',2009-02-01
2,19,EM,False,None,Mary,A,Dempsey,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",b'36F04305-6769-4E61-9143-048B2B7AFA20',2011-02-07
3,24,EM,False,Ms.,Jill,A,Williams,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",b'3F605060-96AD-4201-9BE2-BFE7A3C4E468',2009-01-11
4,27,EM,False,None,Jo,A,Brown,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",b'EDD8ADD6-F7FD-4086-BFDC-B4FD3E6AD8D7',2008-02-20

In [7]:
#Sample select query
cursor = connection_string.cursor()
cursor.execute("SELECT @@version;")
row = cursor.fetchone()
while row:
    print(row[0])
    row = cursor.fetchone()

AttributeError: 'str' object has no attribute 'cursor'

In [ ]:
cursor = connection.cursor()